<p>Hi try loggin in...</p>

<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<button (click)="GetClaims()">Get Claims</button>

<div>
  <h2>Login Information</h2>
  <table>
    <thead>
      <tr>
        <th>Claim Type</th>
        <th>Claim Value</th>
      </tr>
    </thead>
    <tbody>
      @for (claim of claims; track $index) {
      <tr>
        <td>{{ claim.type }}</td>
        <td>{{ claim.value }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>



<div class="forecast-container">
  <button (click)="GetWeather()">Get Forecast</button>
  <h2>Weather Forecast</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>TemperatureC</th>
        <th>Summary</th>
        <th>TemperatureF</th>
      </tr>
    </thead>
    <tbody>
      @for (forecast of forecast; track $index) {
      <tr>
        <td>{{forecast.date}}</td>
        <td>{{ forecast.temperatureC}}</td>
        <td>{{ forecast.summary }}</td>
        <td>{{ forecast.temperatureF }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
<router-outlet />
